<ul class="nav navbar-nav side-nav">
  <li>
    <%= link_to 'javascript:;', data: {toggle: 'collapse', target: "#category-#{taxonomy.id}"} do %>
      <%= taxonomy.name %>
      <i class="fa fa-plus"></i>
    <% end %>
    <ul id="category-<%= taxonomy.id %>" class="collapse collapseItem">
      <li>
        <% taxonomy.root.leaves.each do |taxon| %>
          <%= link_to potepan_category_path(taxon.id) do %>
            <i class="fa fa-caret-right" aria-hidden="true"></i>
            <%= taxon.name %>
            <%= "(#{taxon.products.count})" %>
          <% end %>
        <% end %>
      </li>
    </ul>
  </li>
</ul>
