<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%= render 'upper_label', taxon_name: @taxon.name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <div class="panel panel-default">
            <div class="panel-heading">商品カテゴリー</div>
            <div class="panel-body">
              <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
                <%= render partial: 'categoly_panel', collection: @taxonomies, as: 'taxonomy' %>
              </div>
            </div>
          </div>
          <%= render 'color_panel' %>
          <%= render 'size_panel' %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <%= render 'filter_area' %>
          <div class="row">
            <%= render partial: 'product_box', collection: @products, as: 'product' %>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%= render 'partners_logo' %>
</div>
