<% provide(:title, @product.name)%>
<div class="main-wrapper">
  <%= render 'light_section', product_name: @product.name %>
  <!-- MAIN CONTENT SECTION -->
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <%= render 'media', product: @product %>
        </div>
      </div>
      <%= render 'related_products' %>
    </div>
  </section>
</div>
